* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

ul {
    list-style: none;
}

.container {
    max-width: 1040px;
    margin-inline: auto;
}

.flex {
    display: flex;
}

.ai-c {
    align-items: center;
}

.sm-gap {
    gap: 0.5rem;
}

.primary-nav input {
    min-width: 24rem;
    padding: 0.5rem 1.25rem;
    box-shadow: 0px 4px 8px 0px rgba(66, 68, 90, 0.568);
    border: none;
    border-radius: 100rem;
}

.primary-nav__wyszukiwanie {
    padding-block: 1rem;
    justify-content: space-between;
}

.primary-nav__kategorie {
    padding-block: 0.7rem;
    background-color: #dee0f8;
    box-shadow: 0px 4px 8px 0px rgba(66, 68, 90, 0.568);
}

.primary-nav__kategorie > div {
    justify-content: space-between;
}

.header {
    margin-top: 2rem;
}

.produkty {
    padding-block: 2rem;
}

.produkty > h1 {
    font-size: 2rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.75);
}

.produkty > div {
    gap: 4rem;
    padding-block: 2rem;
    margin-top: 1.5rem;
    border-top: 2px solid #ebebeb;
}

.produkty > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promocje {
    padding-block: 3rem;
    justify-content: space-around;
    box-shadow: 0px 4px 8px 0px rgba(66, 68, 90, 0.568);
}

.footer {
    margin-top: 2rem;
    background-color: #dee0f8;
}

.footer > nav {
    justify-content: space-between;
    padding: 2rem;
}

.footer ul > * + * {
    margin-top: 1rem;
}

.footer__tytul-podsekcji {
    color: black;
}

.footer__email {
    text-decoration: underline;
}